<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body <% if(book!== null) {%> onload = "editMode()" <%}%>>
  <main class="container mt-3">
    <div class="row">
      <div class="col">
        <h2 id="form-header">Add new product</h2>
      </div>
      <div class="col text-end">
        <% if(book!==null) {%>
          <form method="POST" action="\deletebook?id=<%=book.id%>">
            <button class="btn btn-lg btn-submit btn-danger" id="deleteProductButton">Delete product</button>
          </form>
          <%}%>
      </div>
    </div>

    <div>
      <form method="POST" class="needs-validation" enctype ="multipart/form-data" novalidate>

        <% var value="" ; %>
          <div class="mb-3">
            <label for="formFile" class="form-label">Cover image:</label>
            <input class="form-control" type="file"   id="coverFile" name="coverFile"  required>
          </div>
          <div class="mb-3">
            <label for="inputTitle">Title:</label>
            <% if(book !==null) {value="value = " + book.title; } %>
              <input class="form-control" type="text" id="inputTitle" name="title" value="<%= book ? book.title : ''%>" required>
              <div class="invalid-feedback">
                Title required.
              </div>
          </div>
          <div class="mb-3">
            <label for="inputAuthor">Author:</label>
            <% if(book !==null) {value="value = " + book.author; } %>
              <input class="form-control" type="text" id="inputAuthor" name="author" value="<%= book ? book.author : ''%>" required>
              <div class="invalid-feedback">
                Author required.
              </div>
          </div>
          <div class="mb-3">
            <label for="selectGenre">Genre:</label>
            <% if(book !==null) {value="value = " + book.genre; } %>
              <input class="form-control" type="text" id="inputGenre" name="genre" value="<%= book ? book.genre : ''%>" required>
              <div class="invalid-feedback">
                Genre required.
              </div>
          </div>
          <div class="mb-3">
            <label for="inputPublisher">Publisher:</label>
            <% if(book !==null) {value="value = " + book.publisher; } %>
              <input class="form-control" type="text" id="inputPublisher" name="publisher" value="<%= book ? book.publisher : ''%>"
              required>
              <div class="invalid-feedback">
                Publisher required.
              </div>
          </div>
          <div class="mb-3">
            <label for="inputPublicationYear">Publication year:</label>
            <% if(book !==null) {value="value = " + book.publication_year; } %>
              <input class="form-control" type="number" id="inputPublicationYear" name="publicationYear" value="<%= book ? book.publication_year : ''%>"
              required>
              <div class="invalid-feedback">
                Publication year required.
              </div>
          </div>
          <div class="mb-3">
            <label for="inputPrice">Price:</label>
            <% if(book !==null) {value="value = " + book.price; } %>
              <input class="form-control" type="number" id="inputPrice" name="price" value="<%= book ? book.price : ''%>"
              required>
              <div class="invalid-feedback">
                Price required.
              </div>
          </div>
          <div class="mb-3">
            <label for="inputDescription">Description:</label>
            <% if(book !==null) {value=book.description; } %>
              <textarea class="form-control" id="inputDescription" name="description" rows="4"
                required><%=value%></textarea>
              <div class="invalid-feedback">
                Description required.
              </div>
          </div>
          <div>
            <button class="btn btn-dark btn-lg" type="submit">Submit</button>
          </div>
      </form>

    </div>
  </main>
  <script>
    function editMode() {
      document.getElementById("form-header").innerText = "Edit book";
      document.getElementById("coverFile").required = false;
      document.getElementById("deleteProductButton").style.display = "";
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="scripts/formSubmission.js"></script>

</body>

</html>